<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Crypfy - Projections</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet"></link>
<link rel="stylesheet" href="../../css/projections.css"></link>
    <div class="blocktop">
        <div class="top">
            <a href="../../" ><img width="110" class="icon" src="../../images/logo-top.svg"/></a>
        </div>
        <nav>
            <input type="checkbox" id="nav" class="hidden"/>
            <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
            <div class="nav-container">
                <ul>
                    <li><a href="../../stats">Resultados</a></li>
                    <li><a href="../../projections">Projeções</a></li>
                    <li><a href="http://crypfy.com/" target="_blank" class="b4">Login App</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="divTop"> <p class="title">Projeções para final de 2018</p></div>

    <div class="content">
        <div class=""><p class="subtitle">Acumulado %</p>
        </div>
        <div class="graph">
            <canvas id="chart" ></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script src="../../js/projections.js"></script>
        </div>
    </div>

    <div class="content2">
    <div class=""><p class="subtitle">Média mensal %</p>
    </div>
    <div class="graph">
        <canvas id="chart2" ></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="../../js/projections.js"></script>
    </div>
    <div class="blankSpace"></div>
</div>

</body>
</html>