<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Crypfy - Tools</title>
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet"></link>
<link rel="stylesheet" href="../../css/secret.css"></link>

<div class="container">
    <h1><a>Crypfy - Tools</a></h1>

    <table class="table bendy">

        <thead>
        <tr>
            <th colspan="11">A melhor ferramenta de arbitragem do mercado</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Exchange</th>
            <th>Preço/Compra</th>
            <th>Preço/Venda</th>
            <th>Mercado Bitcoin</th>
            <th>FoxBit</th>
            <th>Negocie Coins</th>
            <th>BitcoinToYou</th>
            <th>Compra Litecoin</th>
            <th>Venda Litecoin</th>
            <th>MBtc Litecoin</th>
            <th>Negocie Coins Litecoin</th>
        </tr>
        <tr>
            <td>Mercado Bitcoin</td>
            <td id="buyPriceMBtc"></td>
            <td id="sellPriceMBtc"></td>
            <td>0%</td>
            <td id="relation11"></td>
            <td id="relation12"></td>
            <td id="relation13"></td>
            <td id="ltcBuyPriceMBtc"></td>
            <td id="ltcSellPriceMBtc"></td>
            <td>0%</td>
            <td id="relationLtc12"></td>
        </tr>
        <tr>
            <td>Foxbit</td>
            <td id="buyPriceFoxbit"></td>
            <td id="sellPriceFoxbit"></td>
            <td id="relation21"></td>
            <td>0%</td>
            <td id="relation22"></td>
            <td id="relation23"></td>
            <td>N/A</td>
            <td>N/A</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <td>Negocie Coins</td>
            <td id="buyPriceNCoins"></td>
            <td id="sellPriceNCoins"></td>
            <td id="relation31"></td>
            <td id="relation32"></td>
            <td>0%</td>
            <td id="relation33"></td>
            <td id="ltcBuyPriceNCoins"></td>
            <td id="ltcSellPriceNCoins"></td>
            <td id="relationLtc21"></td>
            <td>0%</td>
        </tr>
        <tr>
            <td>Bitcoin To You</td>
            <td id="buyPriceBTY"></td>
            <td id="sellPriceBTY"></td>
            <td id="relation41"></td>
            <td id="relation42"></td>
            <td id="relation43"></td>
            <td>0%</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="listContainer">

    <div class="navbar" id="menuTop">
        <ul>
            <li>
                <div class="row">
                    <span>
                    <input class="balloon" id="btcInput" type="text" placeholder="R$ a ser negociado em BTC" /><label></label>
                    </span>
                </div>
            </li>

            <li>
                <a>Preço médio de compra: <b><span id="meanBtcBuy"></span></b></a>
            </li>

            <li>
                <a>Preço médio de venda: <b><span id="meanBtcSell"></span></b></a>
            </li>
        </ul>
    </div>

    <div class="navbar" id="menuTop">
        <ul>
            <li>
                <div class="row">
                    <span>
                    <input class="balloon" id="ltcInput" type="text" placeholder="R$ a ser negociado em LTC" /><label></label>
                    </span>
                </div>
            </li>

            <li>
                <a>Preço médio de compra: <b><span id="meanLtcBuy"></span></b></a>
            </li>

            <li>
                <a>Preço médio de venda: <b><span id="meanLtcSell"></span></b></a>
            </li>
        </ul>
    </div>

</div>
<a class="rodape">Os valores padrões de negociação são: R$40.000,00 para Bitcoin e R$10.000,00 para Litecoin</a>

</body>

<script src="../../js/secret.js"></script>

</html>