<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet"></link>
    <link rel="stylesheet" href="../../css/simulations.css"></link>
    <title>Crypfy - Simulations</title>
</head>
<body>

<div class="blocktop">
    <div class="top">
        <a href="../../" ><img width="110" class="icon" src="../../images/logo-top.svg"/></a>
    </div>
    <nav>
        <input type="checkbox" id="nav" class="hidden"/>
        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
        <div class="nav-container">
            <ul>
                <li><a href="../../stats">Resultados</a></li>
                <li><a href="../../projections">Projeções</a></li>
                <li><a href="../../simulations">Simulações</a></li>
                <li><a href="http://crypfy.com/" target="_blank" class="b4">Login App</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="intro">
    <div class="principal">Simule seu investimento!</div>
</div>

<div class="duo">

    <div class="box">

        <div class="form-group">
            <input type="value" placeholder="Valor de simulação"></input>
        </div>

        <div class="form-group">
            <a href="#">Simule</a>
        </div>

    </div>

    <div class="listBlock" id="menu" >
        <ul>
            <li>
                <div>
                    <div class="linea6"><p class="textlist">Línea6: R$ <span class="span" id="value1">10000</span></p></div>
                    <script src="../../js/simulations.js"></script>
                </div>
            </li>
            <li>
                <div>
                    <div class="audace6"><p class="textlist">Audace6: R$ <span class="span" id="value2">15000</span></p></div>
                    <script src="../../js/simulations.js"></script>
                </div>
            </li>
            <li>
                <div>
                    <div class="linea12"><p class="textlist">Línea12: R$ <span class="span" id="value3">20000</span></p></div>
                    <script src="../../js/simulations.js"></script>
                </div>
            </li>
            <li>
                <div>
                    <div class="audace12"><p class="textlist">Audace12: R$ <span class="span" id="value4">25000</span></p></div>
                    <script src="../../js/simulations.js"></script>
                </div>
            </li>
        </ul>
    </div>

</div>


</body>
</html>